//
//  Debug.xcconfig
//  Template
//
//  Created by Yuki Higuchi on 2022/03/07.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974
PRODUCT_NAME = Template Debug
PRODUCT_BUNDLE_IDENTIFIER = dev.yhiguchi.Template.debug
CURRENT_PROJECT_VERSION = ${CURRENT_PROJECT_VERSION}
MARKETING_VERSION = ${MARKETING_VERSION}
