//
//  Debug.xcconfig
//  Template
//
//  Created by Yuki Higuchi on 2022/03/07.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974
#include "../../config/Default"

PRODUCT_NAME = $(TARGET_NAME) Debug
PRODUCT_BUNDLE_IDENTIFIER = $(APP_IDENTIFIER).debug
CURRENT_PROJECT_VERSION = $(BUNDLE_VERSION)
MARKETING_VERSION = $(BUNDLE_VERSION)
VERSION_INFO_SUFFIX = -debug-$(BUILD_DATE)
